body {
	color: black;
	background-color: white;
	font-family: verdana, helvetica, arial, sans-serif;
	font-size: 71%; /* Enables font size scaling in MSIE */
	margin: 0;
	padding: 0;
}

#header {
	color: white;
	background-color: #bac9da;
}

#headerTitle {
	font-size: 150%;
	font-weight: normal;
	position: relative;
	margin: 0 0 0 4mm;
	padding: 0.25ex 0;
}

#menu{
	clear:left;
}

#menu div {
	border-bottom: 1px dashed rgb(153, 153, 153);
	margin: 5px;
	margin-top: 0px;
	padding: 5px;
	float: left;
 
	 
}

#footer {
	color: white;
	background-color: #aab9ca;
	font-size: 91%;
	margin: 0;
	padding: 1em 2.5mm 2.5ex 2.5mm;
	clear: both;
}

#content {
	color: black;
	background-color: white;
	text-align: justify;
	line-height: 1.5em;
	margin: 0 0 0 0em;
	padding: 2mm 5mm 5mm 5mm;

	min-height:500px;
}

#content p {
	margin: 1em 1ex 2em 1ex;
	padding: 0;
}

#content h1 {
	color: white;
	background-color: #cad9ea;
	font-size: 14pt;
	font-weight: bold;
	margin: 0 0 0 0;
	padding: 0.5ex 0 0.5ex 1ex;
}

table {
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	border-collapse: collapse;
		margin-top: 5px;
}

table.queryResults {
	width: 100%;
	empty-cells: show;
	white-space: pre;
	counter-reset: trflag;
}

td,th {
	font-size: 1em;
	border: 1px solid #CAD9EA;
	padding: 3px 7px 2px 7px;
}

th {
	font-size: 1.1em;
	text-align: left;
	padding-top: 5px;
	padding-bottom: 4px;
	background-color: #cad9ea;
	color: #ffffff;
}

tr.even {
	background-color: #f5fafe;
}

table.queryResults tr:hover {
	background-color: #a0a0f0;
}

table.adminList tr:hover {
	background-color: #a0a0f0;
}

div.dashline {
	border: 1px dashed #3c78b5;
	margin: 5px;
	margin-top: 0px;
	padding: 5px;
}

div.insider {
	padding: 5px;
	float: left
}